<div class="trip-form">
  <%= form_for(@trip) do |f| %>
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <h2>Não há como salvar essa viagem:</h2>

        <ul>
        <% @trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :name, placeholder: "Nome da sua viagem", class: "name-form" %>
    </div>
    <h1 class="title">Locais</h1>
      <%= f.fields_for :places do |places_form| %>
        <%= render partial: 'places/field', locals: { places_form: places_form } %>
      <% end %>
    
    <p><%= link_to_add_places "Adicionar novo local", f, :places, 'btn btn-primary confirm-button' %></p>

    <p><%= link_to "Remover novo local", "#", class: 'btn btn-danger confirm-button remove_places' %></p>

    <div class="actions">
      <%= f.submit "Salvar", class: "btn btn-primary confirm-button" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('form').on('click', '.remove_places', function(event) {
    $(".place_form").last().fadeOut();
    return event.preventDefault();
  });
  
  $('form').on('click', '.add_places', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
</script>
