<script>
    jQuery(function($) {
        $("tr[data-link]").click(function() {
            window.location = this.dataset.link
        });
    })
</script>
<div class="card-box">
	<div class="card-box-title">
		<h1><%= @title %></h1>
	</div>
	<table class="trips-table">
        <thead class="trips-table-title">
            <tr>
                <th>&nbsp;</th>
                <th>Nome da viagem</th>
                <th>Dia de início</th>
                <th>Dia de fim</th>
            </tr>
        </thead>
        <tbody>
            <% @trips.each do |trip| %>
              <tr class="trips-table-content" data-link="<%= trip_path(trip) %>">
                <td>&nbsp;</td>
                <td><%= trip.name %></td>
                <td><%= date_format(trip.arrive) %></td>
                <td><%= date_format(trip.departure) %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>
