<script>
jQuery(function($) {
  $("tr[data-link]").click(function() {
    window.location = this.dataset.link
  });
})
</script>
<div class="card-box">
  <div class="card-box-title">
    <h1> <%= @trip.name %> </h1>
  </div>
  <div class="card-single-content">
    <div class="trip-details">
      <ul>
        <li>Data de saída: <%= date_format(@trip.arrive) %></li>
        <li>Data de chegada: <%= date_format(@trip.departure) %></li>
      </ul>
      <table class="places-table">
        <thead class="places-table-title">
          <tr>
            <th>&nbsp;</th>
            <th>Local</th>
            <th>Data de início</th>
            <th>Data de fim</th>
          </tr>
        </thead>
        <tbody>
          <% @places.each do |place| %>
            <tr class="places-table-content" data-link="<%= trip_place_path(@trip, place) %>">
              <td>&nbsp;</td>
              <td><%= place.location %></td>
              <td><%= date_format(place.arrival) %></td>
              <td><%= date_format(place.departure) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br/>
      <%= link_to "Editar", edit_trip_path(@trip), class: "btn btn-primary trip-button-left" %>
      <%= link_to "Excluir", trip_path(@trip), method: :delete, data: { confirm: 'Você tem certeza?' } , class: "btn btn-danger trip-button-right" %>
      <div style="margin-right: 75px; margin-top: 15px;">
      <p>Para escolher os eventos, basta selecionar algum dos locais acima!</p> 
      </div>
    </div>
  </div>
</div>
<div class="card-box">
  <div class="card-box-title">
    <h1>
      Plano de viagem
    </h1>
  </div>
  <% unless @plan.empty? %>
    <div class="events-list">
      <table class="events-table">
        <thead class="events-table-title">
          <tr>
            <th>&nbsp;</th>
            <th>Evento</th>
            <th>Localização</th>
            <th>Horário</th>
          </tr>
        </thead>
        <tbody>
          <% @plan.each do |event| %>
            <tr class="events-table-content" onclick="window.open('<%=event['url']%>2','_blank')">
              <td>&nbsp;</td>
              <td><%= event["title"][0,75] %></td>
              <td><%= event["city"] +', ' + event["country"] %></td>
              <td><%= event["start_time"].strftime("%d/%m/%Y %H:%M") %><%= " - " + event["stop_time"].strftime("%d/%m/%Y %H:%M") unless event["stop_time"].nil? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p align="center" style="margin-top: 5px;">Você ainda não fez seu plano de viagem! Clique em algum local a ser visitado acima para começar a planejar :)</p>
  <% end %> 
</div>

