<div class="edit-profile-box">
  <div class="edit-profile-title">
    <h2>Editar meu perfil</h2>
  </div>
  <div class="card-single-content">    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="field">
        <%= f.label "Primeiro nome" %><br />
        <%= f.email_field :first_name, autofocus: true, class: "first-name-form" %>
      </div>

      <div class="field">
        <%= f.label "Último nome" %><br />
        <%= f.email_field :last_name, autofocus: true, class: "last-name-form" %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "email-form" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Esperando confirmação do email: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label "Senha" %> <i>(deixe em branco se não quiser trocá-la)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "password-form" %>
      </div>

      <div class="field">
        <%= f.label "Confirmação de senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "password-form" %>
      </div>

      <div class="field">
        <%= f.label "Senha atual" %> <i>(precisamos da sua senha atual para confirmar as mudanças)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "password-form" %>
      </div>

      <div class="actions">
        <%= f.submit "Confirmar", class: "btn btn-primary confirm-button" %>
      </div>
    <% end %>

    <h3>Cancelar minha conta</h3>

    <p>Não está satisfeito? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza" }, method: :delete, class: "btn btn-danger" %></p>
  </div>
</div>
