<div class="content-box">
  <h2 class="title">Cadastre-se</h2>
  <div class="content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email",class: "email-form" %>
      </div>

      <div class="field">
        <%= f.text_field :first_name, placeholder: "Primeiro Nome", class: "first-name-form" %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, placeholder: "Último Nome", class: "last-name-form" %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", class: "password-form" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirme sua senha", class: "password-form" %>
      </div>

      <div class="actions">
        <%= f.submit "Cadastrar", class: "btn btn-primary confirm-button" %>
      </div>
    <% end %>
    <div class="shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>