<div class="card-box">
  <div class="card-box-title">
    <h1>Dashboard</h1>
  </div>
  <div class="card-group">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Nova viagem</h4>
        <p class="card-text">Comece planejando sua nova viagem.</p>
        <%= link_to "Nova viagem", new_trip_path, class: "btn btn-primary card-button" %>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Viagens atuais</h4>
        <p class="card-text">Veja suas viagens atuais.</p>
        <%= link_to "Minhas Viagens", trips_path(:select => 'current'), class: "btn btn-primary card-button" %>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Últimas viagens</h4>
        <p class="card-text">Veja as últimas viagens que você fez!</p>
        <%= link_to "Últimas viagens", trips_path(:select => 'previous'), class: "btn btn-primary card-button" %>
      </div>
    </div>
  </div>
</div>

