<div class="content-box">
    <h2 class="title">Esqueceu sua senha?</h2>
    <div class="content"
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "email-form" %>
          </div>

          <div class="actions">
            <%= f.submit "Enviar instruções", class: "btn btn-primary confirm-button" %>
          </div>
        <% end %>   
        <div class="shared-links">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
