<div class="content-box">
  <div class="login-content">
    <h2 class="login-logo">Tripster</h2>
    <div class="content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'email-form' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'password-form' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="remember-box field">
            <%= f.check_box :remember_me %>
            <%= f.label "Lembre de mim" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Entrar", class: 'btn btn-primary confirm-button' %>
        </div>
      <% end %>
      <div class="shared-links">
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>