/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #eee;
}

.notice-box {
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: -20px;
    margin: 0 auto;
}

.notice-box > p {
    text-align: center;
}

.content-box {
    background-color: #fff;
    width: 440px;
    padding: 15px;
    padding-bottom: 5%;
    padding-top: 3%;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.content-box-title {
    text-align: center;
    border-bottom: 2px solid #eee;
    margin-right: -10px;
    margin-left: -10px;
}

h2.title {
    text-align: center;
}

h2.navbar-logo {
    color: #eee;
    margin-top: 5px;
    margin-right: 10px;
}

.confirm-button {
    width: 250px;
    cursor: pointer;
}

.content {
    padding-left: 20%;
    padding-top: 5%;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-right {
    margin-right: 0px;
}

.icon-size {
    font-size: 87px;
}

.profile-box {
    background-color: #2d4259;
    color: #eee;
}

.tripster-navbar {
    background-color: #2d4259;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tripster-navbar > dropdown {
    border-bottom-right-radius: 2em;
}

div.tripster-navbar a:link { color: #eee; }
div.tripster-navbar a:visited { color: #eee; }
div.tripster-navbar a:active { color: #eee; }

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus { 
    background-color: #283040 !important;
    color: #eee;
}

.card-box {
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 25px;
    padding: 0 10px 25px 10px;
    background-color: #fff;
}

.card-group {
    display: table;
    width: 100%;
    table-layout: fixed; 
}

.card-box-title {
    text-align: center;
    border-bottom: 2px solid #eee;
    margin-right: -10px;
    margin-left: -10px;
}

.card {
    display: table-cell;
}

.card-title, .card-text {
    text-align: center;
}

.card-block {
    text-align: center;
}

.card-button {
    display: inline-block;
}

.card-single-content {
    padding-top: 10px;
    padding-left: 160px;
    padding-right: 160px;
}

.edit-profile-box {
    border: 1px solid #eee;
    border-radius: 10px;
    margin-top: 25px;
    padding: 0 10px 25px 10px;
    background-color: #fff;
    width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.edit-profile-title {
    text-align: center;
    border-bottom: 2px solid #eee;
    margin-right: -10px;
    margin-left: -10px;
}

.footer {
  position: relative;
  clear:both;
  padding-top:20px;
} 
