// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.places-table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 10px;
}

.places-table > th, .places-table > td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.places-table-content {
    cursor: pointer;
}

.places-table-content:hover {
    background-color: #aaa;
}

.add-place {
    margin-bottom: 25px;
}

.remove-place {
    margin-bottom: 25px;
}