body.registrations_body.action_new {
  color: #404040;
  background: #2d4259;
}

.first-name-form, .last-name-form {
    width: 250px;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff !important;
}