html, body {
    height: 100%;
}
body.sessions_body.action_new {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("/assets/tripster_01.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    transition: background 0.5s linear;
}
#fullPage {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}
.login-logo {
    text-align: center;
}
.login-button {
    width: 250px;
    cursor: pointer;
}
.shared-links {
  width: 250px;
  text-align: center;
}
.email-form, .password-form {
    width: 250px;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff !important;
}