// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-trip-box {
    background-color: #fff;
    width: 440px;
    padding: 15px;
    padding-bottom: 5%;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.new-trip-title {
    text-align: center;
    border-bottom: 2px solid #eee;
    margin-right: -10px;
    margin-left: -10px;
}

.trip-form {
    padding-left: 80px;
}

.name-form {
    width: 250px;
    border-radius: 4px;
    padding: 4px;
    margin-top: 15px;
    margin-bottom: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff !important;
}

.date-form {
    padding-bottom: 10px;
}

.trips-box {
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 25px 50px 0px 50px;
    padding: 0 10px 25px 10px;
    background-color: #fff;
}
.trips-box-title {
    text-align: center;
    border-bottom: 2px solid #eee;
    margin-right: -10px;
    margin-left: -10px;
}

.trips-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

.trips-table > th, .trips-table > td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.trips-table-content {
    cursor: pointer;
}

.trips-table-content:hover {
    background-color: #aaa;
}

.trip-details {
    width: 50%;
    margin: 0 auto;
    padding-left: 148px;
}

.trip-button-left {
    margin-left: 20px;
    margin-right: 30px;
}

.trip-button-right {
    margin-left: 30px;
}

.edit-trip-form {
    padding-left: 450px;
}