<div class="place_form">
  <ul>
    <li>
      <div class="field">
        <%= places_form.text_field :location, placeholder: "Localização", class: "name-form" %>
      </div>
      <div class="field">
        <%= places_form.label "Dia de chegada" %><br>
        <div class="date-form">
          <%= places_form.date_select :arrival, min: Date.today, order: [:day, :month, :year], :use_month_names => ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro','Dezembro'] %>
        </div>
      </div>
      <div class="field">
        <%= places_form.label "Dia de saída" %><br>
        <div class="date-form">
          <%= places_form.date_select :departure, min: Date.today, order: [:day, :month, :year], :use_month_names => ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro','Dezembro'] %>
        </div>
      </div>
      <% if places_form.object.persisted? %>
        <%= places_form.check_box :_destroy %>
        <%= places_form.label :_destroy, "Destroy" %>
      <% end %>
    </li>
  </ul>
</div>