<%= form_for(:places) do |f| %>
  <!--
  < if place.errors.any? %>
    <div id="error_explanation">
      <h2>Não há como salvar esse Local:</h2>

      <ul>
      < place.errors.full_messages.each do |message| %>
        <li><message %></li>
       end 
      </ul>
    </div>
   end 
  --> 
  <div class="field">
    <%= f.text_field :location, placeholder: "Localização", class: "name-form" %>
  </div>
  <div class="field">
    <%= f.label "Dia de chegada" %><br>
    <div class="date-form">
      <%= f.date_select :arrive, min: Date.today, order: [:day, :month, :year], :use_month_names => ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro','Dezembro'] %>
    </div>
  </div>
  <div class="field">
    <%= f.label "Dia de saída" %><br>
    <div class="date-form">
      <%= f.date_select :departure, min: Date.today, order: [:day, :month, :year], :use_month_names => ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro','Dezembro'] %>
    </div>
  </div>
<% end %>
