<div class="card-box">
  <div class="card-box-title">
    <h1>
      <span class='glyphicon glyphicon-map-marker'></span>&nbsp;<%= @place.location %>
  </h1>
  </div>
  <div class="card-single-content">
    <div class="trip-details">
      <ul>
        <li>Data de saída: <%= date_format(@place.arrival) %></li>
        <li>Data de chegada: <%= date_format(@place.departure) %></li>
      </ul>
      <%= link_to "Editar", edit_trip_place_path, class: "btn btn-primary trip-button-left" %>
      <%= link_to "Excluir", trip_place_path(@place.trip, @place), method: :delete, data: { confirm: 'Você tem certeza?' } , class: "btn btn-danger trip-button-right" %>
    </div>
  </div>

  <h2> Escolha seus eventos para este local: </h2>
   
  <% unless @events.empty? %>
    <%= form_tag save_events_trip_place_path, method: :post do %>
      <div class="events-list">
        <table class="events-table">
          <thead class="events-table-title">
            <tr>
              <th>&nbsp;</th>
              <th>Evento</th>
              <th>Horário</th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr class="events-table-content">
                <td style="padding-left: 5px;">
                <%= hidden_field_tag 'last_events['+event["id"]+']', (@current_events.include? event["id"]) %>
                <%= check_box_tag 'events[]', event["id"], checked=(@current_events.include? event["id"]) %></td>
                <td onclick="window.open('<%=event['url']%>2','_blank')"><%= event["title"][0,75] %></td>
                <td onclick="window.open('<%=event['url']%>2','_blank')"><%= event["start_time"].strftime("%d/%m/%Y %H:%M") %><%= " - " + event["stop_time"].strftime("%d/%m/%Y %H:%M") unless event["stop_time"].nil? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="save-plan-button">
        <%= submit_tag 'Salvar meu plano', class: "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <p>Infelizmente não conseguimos encontrar eventos em <%= @place.location %>.  Mesmo assim, não deixe de viajar!</p>
  <% end %>
</div>
