<!DOCTYPE html>
<html>
  <head>
    <title>Tripster</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>" class="<%= controller_name %>_body action_<%= action_name %>">
    <div class="content-wrap">
      <div class="container-fluid">
        <% if user_signed_in? %>
          <div class="collapse navbar-collapse tripster-navbar">
            <ul class="nav navbar-nav">
              <li><h2 class="navbar-logo">Tripster</h2></li>
              <li class="active"><a href="/">Minha dashboard</a></li>            
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> 
                  <strong><%= current_user.first_name %></strong>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu profile-box">
                  <li>
                    <div class="navbar-login">
                      <div class="row">
                        <div class="col-lg-4">
                          <p class="text-center">
                            <span class="glyphicon glyphicon-user icon-size"></span>
                          </p>
                        </div>
                        <div class="col-lg-8">
                          <p class="text-left"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
                          <p class="text-left small"><%= current_user.email %></p>
                          <p class="text-left">
                            <%= link_to 'Editar Perfil', edit_user_registration_path, :class => 'btn btn-primary btn-block btn-sm' %>
                         </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <div class="navbar-login navbar-login-session">
                      <div class="row">
                        <div class="col-lg-12">
                          <p>
                            <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'btn  btn-danger btn-block'  %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <% if notice %>
        <div class="notice-box">
          <p class="alert alert-success"><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="notice-box">
          <p class="alert alert-danger"><%= alert %></p>
        </div>
      <% end %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <p align="center" style="font-size: 12px; color: #333;">Desenvolvido por Tripster em São Paulo</p>
    </div>
  </body>
</html>
